 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1770px;
}

.u-section-1 .u-image-1 {
  width: 800px;
  min-height: 560px;
  background-image: url("images/apr-18-2012-the-mens-ward-at-the-enugu-general-hospital-E14WD3.jpg");
  background-position: 50% 50%;
  margin: 60px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: auto;
  font-weight: 700;
  font-size: 3.75rem;
}

.u-section-1 .u-text-2 {
  width: 800px;
  margin: 25px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}